
<!--json serveris:=b   json-server --watch src/database/db.json -->

<div class="container">
    <div class="row justify-content-center">
      
        <h1 class="mt-5 mb-2 text-success text-center">
          <i class="bi bi-activity text-info"></i>
          Todo List</h1>          
      
      <hr class="my-4">
      

      <app-task-create (newItemEvent)="getTasks()"></app-task-create>
      
      <hr class="mb-4">
      

      <div class="row d-flex justify-content-center container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title ms-md-5 mt-3">
                        <h4>Task List</h4>
                    </div>
                    <div class="card-body list-area">
                      <div class="col-12">        
                        <!--  -->
                        <!-- <app-task-create></app-task-create> -->
                        <table class="table my-table table-bordered">
                            <thead>
                              <tr class="text-light bg-success">
                                <th></th>
                                <th>Task Title</th>
                                <th>Author</th>
                                <th>ID</th>
                                <th></th>
                              </tr>
                            </thead>
                            <!-- Dinaminis klases pridejimas elementui:
                                [class.class-name]
                                -->
                            <tr class="my-table table-row" *ngFor="let task of tasks"
                            [class.task-completed]="task.completed">
                              <!-- [class.text-decoration-line-through]="task.completed"
                              (click)="task.completed = !task.completed" -->
                            
                              <td class="text-center">
                                <!-- Ateityje si elementa naudosime, pazymeti uzduotis kaip baigtas -->
                                <input type="checkbox" [checked]="task.completed"
                                    (change)="toggleTask(task)"
                                >
                              </td>
                              <td><i class="bi-alarm"></i> {{ task.title }}</td>
                              <td><i class="bi bi-activity"></i> Author: {{ task.author }}</td>
                              <td>{{ task.id }}</td>
                              <td>
                                <button
                                (click)="deleteTask(task)"
                                class="btn btn-danger bg-danger">
                                  <i class="bi bi-trash-fill"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                      </div> 
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>
</div>